@font-face {
  font-family: "dessau";
  src: url(font/dessau-medium-regular.ttf) format("truetype");
}


.middle-verticle {
	line-height: 120px;
	height: 120px; 
}
.navbar{
	border-radius: 0px !important;
	height: 120px; 
}
.top {
	background-image: url("img/image.jpeg");

    height: 720px;
    margin-left:-9px;
    z-index:331;
 
}
.nav>li>a {
	display: inline; !important;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
}


.navbar.navbar-default{
	background-color: rgba(255, 255, 255, 0.75); 
}

#intro {
	height: 450px;
	background-color: white;	
	padding-left: 100px;
	padding-top: 10px;

}
#intro > h1 {
	color: #01adc5;
}

#intro > p {
	padding-top: 50px;
	font-size: 20px;
}


#weare {
	height: 820px;
	background-color: #01adc5;
	color: white;
	padding-left: 100px;
	padding-top: 10px;
}
#Logo{
	height: 120px;
}
#Logo > a{
	font-size: 35px;
	color: #01adc5;
	font-family: dessau;
}
#box > p {
	font-weight: bold;
	font-size: 35px;
	width: 555px;
}

.footer {
	height: 135px;
	background-color: #4e4e4e;
}
ul.weare > li {
	display: inline;
}
.body {
	background-image: url("img/img.jpg");
	z-index:331;
	width: 100%;
}
.line {
	width: 50px;
	height: 5px;
	border-bottom: 3px solid;
	color: #01adc5; 
}

#box{
	top: 250px;
	left: 30%;
	right: auto;
	height: 350px;
	width: 355px;
	border: 15px solid;
	border-color: #01acc2;
	position: relative;
	overflow: visible;
}
#quote-b {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 100px;
    padding-top: 60px;
}

#quote-a {
	height: 100px;
	padding-bottom: 60px;
}
#footer {
	color: white;
	line-height: 135px;
}